{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "src/*": ["src/*"]
    }
  },
  "env": {
    "targets": {
      "node": "16"
    }
  },
  "module": {
    "type": "commonjs"
  }
}
